@import "../../_globalColor";

.software-skills-main-div {
  text-align: center;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.dev-icons {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.3s ease;
}

.software-skill-inline:hover {
  transform: scale(1.1);
}

.software-skill-inline .iconify {
  width: 65px;
  height: 65px;
}

.software-skill-inline p {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $skillsColor;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.software-skill-inline:hover p {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}